<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
</head>
<body>

<h1>Create a New Reminder</h1>

<form id="reminderForm">
    <label for="reminderText">Reminder:</label>
    <input type="text" size="35" id="reminderText" required>
</form>
<button type="button" onclick="addReminder()">Add to Your Reminders</button>
<br><br><br>

<h2>Your Reminders</h2>

<div id="reminderList">
    <!-- Existing reminders will be displayed here -->
</div>

<script src="/static/script.js"></script>

</body>
</html>
