<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reminder App</title>
        <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    </head>
    <body>
        <div class="standard">
            <h1>Create a New Reminder</h1>
            <form id="reminderForm">
                <label for="reminderText">Reminder:</label>
                <input type="text" placeholder="Enter Reminder Description" size="35" id="reminderText" required>
                <button type="button" onclick="addReminder()">Add</button>
            </form>
        </div>
        <br><br><br>
        <h2 class="grid-container">
            <span class="reminderHeader">Your Reminders</span>
            <span class="completedHeader">Completed</span>
        </h2>
        <div class="grid-container">
            <div id="reminderList"></div>
            <div id="completedList"></div>
            <button type="button" id="left_clear_btn" onclick="clearReminderList()">Clear</button>
            <button type="button" id="right_clear_btn" onclick="clearCompletedList()">Clear</button>
        </div>
        <script src="/static/script.js"></script>

    </body>
</html>
