<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reminder App</title>
        <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
        </div>
        <div class="standard">
            <h1>Create a New Reminder</h1>
            <form id="reminderForm">
                <label for="reminderText">Reminder:</label>
                <input type="text" placeholder="Enter Reminder Description" size="35" id="reminderText">
                <label for="severityRating">Severity Rating:</label>
                <select class="standard" id="severityRating">
                    <option>---Severity Rating---</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <label for="datetime">Date and Time:</label>
                <input type="datetime-local" id="datetime"><br>
                <button class="inputButton" type="button" onclick="addReminder()">Add</button>
                <input class="inputButton" type="reset" value="Reset">
            </form>
        </div>
        <br><br><br>
        <div class="grid-container">
            <h2 class="reminderHeader">Your Reminders</h2>
            <h2 class="completedHeader">Completed</h2>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <button class="inputButton" type="button" id="left_clear_btn" onclick="clearReminderList()">Clear</button>
                <button class="inputButton" type="button" id="left_select_btn" onclick="">Select All</button>
                <div id="reminderList"></div>
            </div>
            <div class="grid-item">
                <button class="inputButton" type="button" id="right_clear_btn" onclick="clearCompletedList()">Clear</button>
                <button class="inputButton" type="button" id="right_select_btn" onclick="clearCompletedList()">Select All</button>
                <div id="completedList"></div>
            </div>
        </div>
        <script src="/static/js/priorityQueue.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>
