.standard {
    color:Black;
    font-size:20px;
    font-family: "Segoe UI";
    margin-left: auto;
    margin-right: auto;
}

#reminderList {
    border: 3px solid #ccc;
    margin-left: 45%
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#completedList {
    border: 3px solid #ccc;
    margin-right: 45%
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.reminderHeader {
    font-family: "Segoe UI";
    margin-left: 45%
}

.completedHeader {
    font-family: "Segoe UI";
    margin-left: 45%
}

#reminderForm {
    margin-top: 50px;
}

.reminderLabel {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Segoe UI";
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    font-size:14pt;
    padding: 5px;
    margin-bottom: 10px;
}


button {
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.translucent {
    opacity: 0.5; /* You can adjust the opacity value as needed */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
