.topnav {
    overflow: hidden;
    background-color: #333;
    color:Black;
    font-size:20px;
    font-family: "Segoe UI";
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #307391;
    color: white;
}

.standard {
    color:Black;
    font-size:20px;
    font-family: "Segoe UI";
    margin-left: auto;
    margin-right: auto;
}

.listFormat {
    resize: vertical;
    padding:15px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    border-radius:10px;
    margin-bottom: 20px;
    align-self: center;
}

.reminderHeader {
    font-family: "Segoe UI";
    text-align: center;
}

.completedHeader {
    font-family: "Segoe UI";
    text-align: center;
}

#reminderForm {
    margin-top: 50px;
    margin-left: 15px;
}

.reminderLabel {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Segoe UI";
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    font-size:14pt;
    padding: 5px;
    margin-bottom: 10px;
}

.inputButton {
    font-size: 12px;
    padding: 8px 15px;
    display: inline-block;
    background-color: #307391;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius:3px;
}

.inputButton:hover {
    background-color: #244452;
}

.translucent {
    opacity: 0.5; /* You can adjust the opacity value as needed */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left:15px;
    margin-right:15px;
}

.grid-item {
    display: inline-block;
}

textarea {
  margin-bottom: 10px;
  width:50%;
  resize: vertical;
  padding:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
  height:30px;
  border-radius:10px;
}

select {
  margin-bottom: 10px;
  width: 15%;
  padding:5px;
  border-radius:10px;
}

#datetime {
  margin-bottom: 10px;
  width: 14%;
  padding:5px;
  border-radius:10px;
}
